---
import AppShell from '../components/layouts/AppShell.astro';

return Astro.redirect('/login');
// Simple redirect-like behaviour for now
---

<AppShell title="Redirecting...">
	<p>Redirecting to login...</p>
</AppShell>


